In [128]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score #r-squared

In [129]:
df = pd.read_csv('/Users/jingwen.wang/Desktop/Python/Japan_SD_Data.csv', parse_dates=['Month'], index_col="Month")
df.head()

,Gasoline,Naphtha,Jet Fuel,Kerosene,Gas Oil,Fuel Oil A,Fuel Oil B,Fuel Oil B･C,Total Fuel Oil,Sub Total,Lubricating Oil,Asphalt,Paraffin wax,Total Products
Month,,,,,,,,,,,,,,
2002-01-01,4572954,4188195,366271,4585397,3036843,2922631,NaN,2224429,5147060,21896720,161284,321733,4486,22384223
2002-02-01,4308313,3989809,359576,3973421,3131501,2813129,NaN,2263722,5076851,20839471,173454,394830,3674,21411429
2002-03-01,4968314,3745265,533661,3022325,3615125,2814259,NaN,2124345,4938604,20823294,186703,594751,4919,21609667
2002-04-01,4777250,3530248,340619,1701263,3231269,2315016,NaN,1736031,4051047,17631696,186455,305721,5386,18129258
2002-05-01,4887971,3560953,360778,1136584,3123661,2033242,NaN,1703352,3736594,16806541,162095,279377,3223,17251236

In [130]:
FO = df[["Kerosene", "Gasoline", "Gas Oil", "Fuel Oil B･C"]]
FO

            Kerosene  Gasoline  Gas Oil  Fuel Oil B･C
Month
2002-01-01   4585397   4572954  3036843       2224429
2002-02-01   3973421   4308313  3131501       2263722
2002-03-01   3022325   4968314  3615125       2124345
2002-04-01   1701263   4777250  3231269       1736031
2002-05-01   1136584   4887971  3123661       1703352
...              ...       ...      ...           ...
2021-03-01   1394391   3804955  2852701        696350
2021-04-01    811163   3711953  2708209        483659
2021-05-01    520506   3541572  2372046        435517
2021-06-01    450213   3662955  2656366        547254
2021-07-01    396420   4014660  2671455        683657

[235 rows x 4 columns]

In [131]:
# split into features and target
feature_cols = ['Kerosene', 'Gasoline', 'Gas Oil', 'Fuel Oil B･C']
X = FO[feature_cols] # Features
y = FO['Fuel Oil B･C'] # Target variable

In [132]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1) # 90% training and 10% test

In [133]:
# Decision Tree classifer object
clf = DecisionTreeRegressor()

# Train classifier
clf = clf.fit(X_train,y_train)

# Predict test
y_pred = clf.predict(X_test)

In [134]:
print('R-squared is', r2_score(y_test, y_pred))

R-squared is 0.9993653857169429

In [111]:
# Side note on entropy reading:
# entropy that measures the level of impurity in a group of example 
# Information gain is the decrease in entropy. Information gain computes the difference between entropy before split and average entropy after split of the dataset based on given attribute values. 
# ID3 (Iterative Dichotomiser) decision tree algorithm uses information gain.
# entropy = 1 when the sample contains an equal number of positive and negative examples